/* Colores */
:root {
  --color-orange: #ff9800;
  --color-green: #0f9d58;
  --color-gray-light: #f7f7f7;
  --color-gray: #33333372;
  --color-white: #fff;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/cocina.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6699;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 20%;
  padding: 1.4rem;
}

.receta-info {
  white-space: pre-wrap;
  font-family: inherit;
}

.recetas {
  display: grid;
  gap: 5px;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
}

/* Estilos para la sección del encabezado */
.heading-section h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-gray);
  margin-bottom: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
  justify-content: flex-end;
  background-color: var(--color-gray);
}
.navbar-nav a {
  color: white;
}
.navbar-nav a:hover {
  color: #000;
  background: var(--color-gray-light);
}
/* estilo para links activos */
.active {
  color: #000;
  background: var(--color-gray-light);
}

/* Estilos para las imágenes en las tarjetas */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: transform 0.2s;
}

/* Efecto de resaltado al pasar el mouse sobre las imágenes */
.card-img-top:hover {
  transform: scale(1.05);
}

/* Estilos para la sección de contenido */
.section {
  padding: 3em 0;
  background-color: var(--color-gray-light);
  color: var(--color-gray);
  font-family: "Roboto", sans-serif;
}

/* Estilos para el footer */
.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 40px 0;
}

.footer h3 {
  color: #ff9800;
  font-size: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.footer-bar {
  background-color: #f7f7f7;
  color: #333333;
  padding: 15px 0;
}

.footer-bar p.rights {
  font-size: 14px;
  margin-bottom: 0;
}

.footer-bar .social-icons {
  text-align: right;
}

.footer-bar .fa {
  color: #333333;
  font-size: 24px;
  margin-left: 10px;
}


/* Estilos para el contenido principal */
.content-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px; /* Ajusta el valor del ancho máximo aquí */
}

.about-us {
  width: 50%;
  float: left;
}

.about-us h3 {
  text-align: center; /* Centra el título "Acerca de nosotros" */
}

.image-container {
  width: 50%;
  float: right;
}


.separation{
  height: 70vh;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.video-container {
  clear: both;
  margin-top: 40px; /* Ajusta el valor del margen superior del video */
  margin-bottom: 40px; /* Ajusta el valor del margen inferior del video */
  display: flex;
  justify-content: center; /* Centra el video horizontalmente */
}

.video-container iframe {
  width: 100%; /* Ajusta el valor de ancho del video para dispositivos móviles */
  height: 400px; /* Ajusta el valor de altura del video según tus necesidades */
}

.team {
  margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .about-us,
  .image-container {
    width: 100%;
    float: none;
  }

  .video-container iframe {
    height: 200px; /* Ajusta el valor de altura del video para dispositivos móviles */
  }
}


/* Estilos para el video */
.main-container .video-container {
  margin-top: 20px;
}

/* Estilos para los integrantes */
.main-container .team {
  margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .main-container .about-us,
  .main-container .image-container {
    width: 100%;
    float: none;
  }
}