{% extends "layout.html" %}

{% block content %}

<main class="container" style="min-height: 100vh">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-1">
            <div class="my-5">

                <p>
                    Tú sabes que somos de calle, hay cría y corazón<br>
                    Siente el fuego, las reglas del juego las pongo yo<br>
                    Porque somos de calle, hay cría y corazón<br>
                    Siente el fuego, las reglas del juego las pongo yo<br>
                </p>

            </div>

            <h3>INTEGRANTES</h3>
            <ol>
                Pablo Acevedo <br>
                Matías Gastón Serial Trachta <br>
                Mauro Rodrigo Lugo <br>
                Julio R. Escanciano Gonzale<br>
                Gabriel Leiva<br>
                Joel Chavez<br>
                Maximiliano Imanol Aguer<br>
                Cristian J. Salto<br>
                Adrián Fabricio A. Herrera<br>
            </ol>
            </form>
        </div>
    </div>
</main>



{% endblock %}