<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
</head>

<body>
    <div class="sticky-sm-bottom">

                <p>
                    Tú sabes que somos de calle, hay cría y corazón<br>
                    Siente el fuego, las reglas del juego las pongo yo<br>
                    Porque somos de calle, hay cría y corazón<br>
                    Siente el fuego, las reglas del juego las pongo yo<br>
                </p>
    </div>

    <h1>INTEGRANTES</h1>
    <ol>
        Pablo Acevedo <br>
        Matías Gastón Serial Trachta <br>
        Mauro Rodrigo Lugo <br>
        Julio R. Escanciano Gonzale<br>
        Gabriel Leiva<br>
        Joel Chavez<br>
        Maximiliano Imanol Aguer<br>
        Cristian J. Salto<br>
        Adrián Fabricio A. Herrera<br>
    </ol>
</body>

</html>