{% extends "layout.html" %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <form class="card card-body my-3" method="post">
        <h1 class="text-center display-6 my-3">Actualizar Comentario</h1>

        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}

        {% csrf_token %} 
        {{form}}
        <button class="btn btn-primary width-100">Actualizar</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}