{% extends "layout.html" %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-12">
      {# image #}
      <div style="max-height: auto" class="bg-danger text-center">
        <img style="object-fit: cover" class="card-image-top card-fluid rounded w-100" src="{{news.image.url}}"
          alt="{{news.image.url}}" />
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <h3 class="text-center py-4">{{news.title}}</h3>
          <p>{{news.summary}}</p>
          <p>{{news.content}}</p>
        </div>
        <div class="col-12 col-md-5">
          <h3 class="text-center py-4">Comments</h3>
          <form action="{% url 'create-comment' %}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="hidden" name="news" value="{{news.id }}">
            <button class="btn btn-primary">save</button>
          </form>
          <div class="my-3">
            {% for comment in comments %}
            <div class="card card-body">
              <div class="card-title d-flex justify-content-between fw-bold">
                <div>
                  <i class="fa-sharp fa-regular fa-user"></i>
                  {{comment.user.username}}
                </div>
                <form action="{% url 'delete-comment' comment.id %}" method="post">
                  {% if comment.user == user %}
                  {% csrf_token %}
                  <button class="btn btn-link text-danger"><i class="fa-sharp fa-solid fa-delete-left"></i></button>
                  {% else %}
                  <button disabled class="btn btn-link text-danger"><i class="fa-sharp fa-solid fa-delete-left"></i></button>
                  {% endif %}
                </form>
              </div>
              <div class="card-text fst-italic">{{comment.text}}</div>
            </div>
            {% empty %}
            <p class="text-center pt-5">No comments yet.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}