{% extends "layout.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<main class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card card-body my-3">
        <h1 class="card-title text-center display-6 my-5">
          {% if user.is_authenticated %}
          Bienvenido {{user.username}}!
          {% else %}
          Bienvenido!
          {% endif %}
        </h1>
        <p class="card-text text-break">
          ¡Bienvenidos al delicioso mundo de nuestro blog de cocina! Aquí, te sumergirás en un festín de sabores, aromas y colores que desatarán tu pasión culinaria. Nuestra misión es llevar tu experiencia en la cocina a nuevas alturas, y para ello, hemos reunido las recetas más exquisitas y fáciles de seguir.
          
          Descubrirás una amplia variedad de platos que se adaptan a todos los paladares y ocasiones. Desde suculentos platillos tradicionales hasta innovadoras creaciones gastronómicas, estamos seguros de que encontrarás algo que satisfaga tus antojos y despierte tu creatividad culinaria.
        </p>
        {% if user.is_authenticated and user|user_belongs_to_group:"Collaborator" %}
        <a href="{% url 'crear-receta' %}" class="btn btn-dark">Nueva Receta</a>
        {% elif user.is_authenticated and not user|user_belongs_to_group:"Collaborator" %}
        <a href="{% url 'recetas' %}" class="btn btn-dark">Ver Receta</a>
        {% else %}
        <div class="d-flex justify-content-center gap-1">
          <a href="{% url 'sign-in' %}" class="btn btn-primary">
            <i class="fa-solid fa-right-from-bracket px-1"></i>SignIn
          </a>
          <a href="{% url 'sign-up' %}" class="btn btn-dark">SignUp</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}