{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Web Site</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1 class="title">Hello World Cristian!</h1>
      </header>
      <main>
        <span class="counter">Counter: <strong></strong></span>
      </main>
    </div>

    {# script js #}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
