{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <script src="https://kit.fontawesome.com/1f4d11627f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/cuchilleria.png' %}">
  <title>TuCocina - Blog de Recetas</title>
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="row justify-content-between">
        <div class="navbar navbar-expand-md bg-transparent col">
          <a class="navbar-brand px-2" href="{% url 'home' %}">
            <img src="{% static 'img/blog.png' %}" alt="logo" style="border-radius: 15%; width: 111px;">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {# menu - usuarios unicamente registrados #}
          {% if user.is_authenticated and not user|user_belongs_to_group:'Collaborator' %}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="{% url 'recetas' %}" class="nav-link">Recetas</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'acerca-de' %}" class="nav-link">Nosotros</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'contacto' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'contacto' %}active{% endif %}">Contacto</a>
              </li>
              <hr class="border border-primary border-3 opacity-75 d-md-none">
              <li class="nav-item text-center text-white fw-bold d-md-none">
                <i class="fa-solid fa-user"></i>
                {{user.username}}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sign-out' %}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Sign Out
                </a>
              </li>
            </ul>
          </div>

          {# menu - usuarios colaboradores #}
          {% elif user.is_authenticated and user|user_belongs_to_group:'Collaborator' %}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="{% url 'recetas' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'recetas' %}active{% endif %}">Recetas</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'categorias' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'categorias' %}active{% endif %}">Categorias</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'crear-receta' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'crear-receta' %}active{% endif %}">Crear-Receta</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'acerca-de' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'acerda-de' %}active{% endif %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'contacto' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'contacto' %}active{% endif %}">Contacto</a>
              </li>
              <hr class="border border-primary border-3 opacity-75 d-md-none">
              <li class="nav-item text-center text-white fw-bold d-md-none">
                <i class="fa-solid fa-user"></i>
                {{user.username}}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sign-out' %}">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Sign Out
                </a>
              </li>
            </ul>
          </div>

          {# menu - usuarios visitantes (no registrados) #}
          {% else %}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="{% url 'recetas' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'recetas' %}active{% endif %}">Recetas</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'sign-in' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'sign-in' %}active{% endif %}">SignIn</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'sign-up' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}">SignUp</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'acerca-de' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'acerca-de' %}active{% endif %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a href=" {% url 'contacto' %}"
                  class="nav-link {% if request.resolver_match.url_name == 'contacto' %}active{% endif %}">Contacto</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
  </div>
  </header>

  {% block content %} {% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info">
            <h3>Contacto</h3>
            <p><i class="fa fa-phone"></i> (362) 4234 5678</p>
            <p><i class="fa fa-map-marker"></i> Almirante Brown 3660</p>
            <p><i class="fa fa-envelope"></i> TuCocina@example.com</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-us" style="text-align: left; margin: 10px;">
            <h3>Acerca de nosotros</h3>
            <p>Bienvenidos a nuestra misión de elevar tu cocina a nuevas alturas.<br>
              Explorando el mundo culinario, un festín de sabores exquisitos, <br>
              satisfacemos todos los paladares con recetas fáciles e innovadoras.<br>
              Es hora de pdespertar tu creatividad culinaria con nuestras creaciones gastronómicas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="rights">© 2023 All rights reserved by Grupo 10 - informatorio</p>
          </div>
          <div class="col-md-6 social-icons">
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
          </div>
        </div>
      </div>
  </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>