{% extends "layout.html" %} {% block content %}
<main class="container" style="min-height: 100vh;">
  <h1 class="text-center display-6 my-5">News</h1>
  <div class="row">
    {% if news %} {% for new in news %}
    <div class="col-sm-12 col-md-4 card">
      <img src="{{new.image.url}}" class="card-img-top img-fluid" alt="{{news.title}}"
        style="object-fit: cover; width: 250; height: 250px;" />
      <div class="card-body">
        <h5 class="card-title text-center">{{new.title}}</h5>
        <p class="card-text">
          {{new.summary}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="{% url 'detail-news' new.id %}" class="btn btn-primary">go to detail</a>
          {% if new.user == user %}
          <div class="dropdown px-2">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-gear"></i>
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{% url 'update-news' new.id %}">Update</a></li>
              <li>
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="delete-news" value="{{new.id}}">
                  <button type="submit" class="dropdown-item">Delete</button>
                </form>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %} {%else%}
    <div class="alert alert-warning" role="alert">No news yet.</div>
    {% endif %}
  </div>
  </div>
</main>
{% endblock %}