{% extends "layout.html" %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1 class="text-center display-6 my-5">Update News</h1>

      {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% endif %}

      <form class="card card-body" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form}}
        <button class="btn btn-primary width-100">update</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
